# handle missing data

In [1]:
import pandas as pd

In [34]:
df=pd.read_csv('Bengaluru_House_Data.csv')

In [35]:
df.head(6)

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,DuenaTa,1170,2.0,1.0,38.00

In [22]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,Soiewre,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,DuenaTa,1200,2.0,1.0,51.00

In [40]:
#detect null values
df.isnull().sum()

area_type        0
availability     0
location         1
size            16
society          0
total_sqft       0
bath            73
balcony          0
price            0
dtype: int64

In [5]:
#drop null values
df.dropna(inplace=True)

In [41]:
# fill na by ffill, bfill

In [13]:
df=df.fillna(method='ffill')

In [19]:
df=df.fillna(method='bfill')

In [29]:
#fill with string
df['size'].fillna('missing', inplace=True)

In [31]:
#replace with mean, median, mode

In [32]:
#fill by mean
df['balcony'].fillna(df['balcony'].mean(), inplace=True)

In [37]:
#fill by median
df['balcony'].fillna(df['balcony'].median(), inplace=True)

In [39]:
#fill by median
df['society'].fillna(df['society'].mode()[0], inplace=True)