<a href="https://colab.research.google.com/github/vamsikrishna00466/EDA/blob/main/mangodb_data_manupulation_try1.0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
d = [{'d1':2,'d2':3}
     ,{'d1':[2,3],'d2':3},
     {'d1':2,'d2':3}]

In [ ]:
d[1]['d1'][0]

2

In [ ]:
d = [{'time':[1,2,3], 'instrument':'nifty','open':[1,2,3],'close':[1,2,3],'high':[1,2,3],'low':[1,2,3],'volumne':[1,2,3]},
     {'time':[1,2,3], 'instrument':'bank nifty','open':[1,2,3],'close':[1,2,3],'high':[1,2,3],'low':[1,2,3],'volumne':[1,2,3]},
     {'time':[1,2,3], 'instrument':'Forest','open':[1,2,3],'close':[1,2,3],'high':[1,2,3],'low':[1,2,3],'volumne':[1,2,3]},
     ]

In [ ]:
for i in d:
  print(i['instrument'])

nifty
bank nifty
Forest

In [ ]:
n=0
df = pd.DataFrame()
for i in d:
  if (i['instrument']=='nifty'):
    for j in i['time']:
      #print(j)
      if j>1:
        n=i['time'].index(j)
        df = df.append({'time':i['time'][n],
                        'open':i['open'][n]},ignore_index=True)

In [ ]:
df

   time  open
0   2.0   2.0
1   3.0   3.0

In [ ]:
for i in d:
  if (i['instrument']=='nifty'):
    for j in i['time']:
      print(i['time'].index(j))

0
1
2

In [ ]:
for i in d:
  if i['instrument']=='nifty':
    df = pd.DataFrame(i)

In [ ]:
df

   time instrument  open  close  high  low  volumne
0     1      nifty     1      1     1    1        1
1     2      nifty     2      2     2    2        2
2     3      nifty     3      3     3    3        3